@model PageModel;

<h1>@Model.PageTitle @Model.Puzzle?.Title</h1>

<div class="centre">
    @await Html.PartialAsync("_PuzzleMenu", Model.Menu)

    @if (Model.InitialState != null)
    {
        <p>@Html.Raw(Model.InitialState.Description)</p>
        
        @await Html.PartialAsync("_Sudoku", Model.InitialState)

        <p>Puzzle data: <a href="/Edit?data=@(Model.InitialState.ToString())" class="data-string">@Model.InitialState.ToString()</a></p>
    }

</div>

<div id="console-window">
    @Model.Log.RenderLog()
</div>

@await Html.PartialAsync("_Sudoku", Model.Puzzle)
